body {
  background-color: #363946;
  font-family: "Roboto";
  color: white;
}


.section {
  padding-left: 200px;
  padding-right: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about {
  font-size: large;
  padding-left: 30px;
  padding-top: 10px;
}

.bio {
  padding-left: 30px;
}

header {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  text-align: center;
  font-size: large;
  padding-top: 50px;
}

.landing {
  text-align: center;
}
